@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

*{margin: 0px; padding: 0px;font-family: "Open Sans";}

body {background-color: #202124;scroll-behavior: smooth;}

html {scroll-behavior: smooth;}

.search-wrapper {margin: auto; width: 632px;;}

.logo-container {margin: auto; width: fit-content;margin-top: 30vh;margin-bottom: -15px;}

.game-container {width: 100%; background-color: #2D2E31;margin-bottom: 15px;border-radius: 0.5rem;height: 98px;}

.game-container > img {width: 163px;height: 98px;display: inline-block;border-radius: 0.5rem 0px 0px 0.5rem;}

.text-container  {display: inline-block;width: 64%;vertical-align: top;    margin-top: 24px;
    margin-left: 24px;}

.text-container > h3 {font-size: 16px;color:rgba(255,255,255,.9);margin-bottom: 4px;}

.text-container > p {color: rgba(255,255,255,.9)}

.search-input {width: 100%;background-color: #2D2E31;border: none;    padding-left: 50px;
    padding-top: 14px;
    padding-bottom: 15px;border-radius: 0.5rem;margin-bottom: 15px;position: sticky;top: 15px;color: white;font-size: 15px;}

    .search-input:focus {outline: none;}

li > a {text-decoration: none;}

.search-input-container > i {font-size: 27px;
    color: white;
    float: left;
    margin-bottom: -32px;
    padding-top: 5px;
    top: 6px;
    position: relative;
    padding-left: 12px;z-index: 15;}

    .backtop {position: fixed; bottom: 25px; right: 25px;background-color: #2D2E31;    padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 50px;
        border: none;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);}

        .backtop >i {font-size: 35px;color: white;}



ul {list-style-type: none;}

.slider{
    position:absolute;
    width:632px;
    height:5px;
    overflow-x: hidden;
  }
  
  .line{
    position:absolute;
    opacity: 0.4;
    background:#202124;
    width:150%;
    height:5px;
  }
  
  .subline{
    position:absolute;
    background:#ffffff;
    height:5px; 
  }
  .inc{
    animation: increase 2s infinite;
  }
  .dec{
    animation: decrease 2s 0.5s infinite;
  }
  
  @keyframes increase {
     from { left: -5%; width: 5%; }
     to { left: 130%; width: 100%;}
  }
  @keyframes decrease {
     from { left: -80%; width: 80%; }
     to { left: 110%; width: 10%;}
  }

  @media screen and (max-width: 680px) {
    .search-wrapper{width: 93%;}

    .logo-container {margin-top: 13px;}

    .game-container {height: 115px;}

    .text-container {width: 40%;}

    .game-container >img {height: 115px;object-fit: cover;}
  }